* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4e47ff;
  --white: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f5f8ff;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.btn {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 12px 36px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.btn:hover {
  background-color: #ffb805;
  color: #000;
  transform: scale(1.1);
}

/* Banner and Navbar */

.banner-section {
  background-image: url("Assets/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}

.nav-left a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 900;
  font-size: 34px;
}

.banner-content {
  width: 80%;
  margin: 0 auto;
  padding: 130px 0 120px 0;
  text-align: center;
}

.banner-content h2 {
  font-size: 65px;
  margin-bottom: 37px;
}

/* Action  section */
.action {
  padding: 80px 0;
}

.action-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.action-left {
  width: 517px;
}

.action-title {
  font-size: 48px;
  margin-bottom: 20px;
}

.action-subtitle {
  margin-bottom: 20px;
  font-size: 24px;
  color: #c1c1c1;
  font-family: "Raleway", sans-serif;
}

.action-right img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}

/* Productive user */
.productive-user {
  padding: 50px 0;
}

.productive-user-content {
  background-color: #e5e7ff;
  padding: 50px;
  border-radius: 24px;
}

.productive-user-content h2 {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.productive-user-content .items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
}

.item h4 {
  font-size: 80px;
  font-weight: bold;
  color: var(--primary-color);
  font-family: "Inter", sans-serif;
}

.item span {
  font-size: 18px;
  color: #969595;
  font-weight: 500;
}

/* User feedback */

.user-feedback {
  padding: 50px 0;
}

.user-feedback h3 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 42px;
}

.review-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.card {
  padding: 24px;
  border-radius: 14px;
  background-color: #fafcff;
  width: 100%;
}

.card h4 {
  font-size: 20px;
  font-weight: bold;
}

.card .title {
  font-size: 28px;
  margin-bottom: 10px;
}

.card .subtitle {
  font-size: 16px;
  margin-bottom: 24px;
}
.star {
  margin-bottom: 24px;
}
.star i {
  color: #ffb805;
}

.reviewer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reviewer-name {
  font-size: 18px;
}

.reviewer .date {
  font-weight: normal;
  font-size: 14px;
}

/* Focus section */
.focus {
  padding: 50px 0;
}

.focus-content {
  background-color: #fff;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 71px 150px;
}
.focus-content img {
  border-radius: 48px;
}

.focus-content h3 {
  font-size: 50px;
  font-weight: bold;
}

/* Let get in touch */
.contact {
  padding: 50px 0;
}
.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-left h2 {
  font-size: 97px;
  font-weight: bold;
}

.contact-right {
  width: 50%;
}
.inputField {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: full;
  margin-bottom: 10px;
}

.inputField input,
textarea {
  width: full;
  padding: 20px 32px;
  border-radius: 10px;
  border: 1px solid #d6dded;
}
