* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4e47ff;
  --white: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f5f8ff;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.btn {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 12px 36px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.btn:hover {
  background-color: #ffb805;
  color: #000;
  transform: scale(1.1);
}

/* Banner and Navbar */

.banner-section {
  background-image: url("Assets/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}

.nav-left a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 900;
  font-size: 34px;
}

.banner-content {
  width: 80%;
  margin: 0 auto;
  padding: 130px 0 120px 0;
  text-align: center;
}

.banner-content h2 {
  font-size: 65px;
  margin-bottom: 37px;
}
